name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.38'

      - name: Show Perl version
        run: perl -V

      - name: Install dependencies
        run: |
          cpanm --notest --installdeps .

      - name: Build
        run: |
          perl Makefile.PL
          make

      - name: Run tests
        run: make test
